rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /workers/{document=**} {
      allow read, write: if true;
    }
    match /customers/{document=**} {
      allow read, write: if true;
    }
    match /jobs/{document=**} {
      allow read, write: if true;
    }
    match /worker_availability/{document=**} {
      allow read, write: if true;
    }
  }
}
